#enricomapdiv {
    margin: 0px;
	padding: 0px;
	
}

.enricomap-single {
    height: 300px; 
    width:40%; 
    float:right;
    
    
}

.enricomap-multi {
    height: 600px; 
    width:50%; 
    border: 1px solid black;

    
}

.enrico-singlepost-info {
    width:60%; 
    height: 500px;
    float:left;  
    margin: 0px;
  	padding: 20px;
  	
  	
}

.enrico-multipost-info {
    width:50%; 
    margin: 0px;
  	padding: 10px;
  	border: 1px solid black;
}

.enrico-content-area {
    width:100%; 
    margin: 0px;
  	padding: 10px;
  	border: 1px solid red;
}


